.DS_Store

fonts/
img/
css/
js/
lol/
config.php

data.txt

generate_character_stats.php

generate_npc_stats.php

index_old.php

index.php

load_characters.php

utils.js

search_generate_grid.php

search_generate_grid_npc.php

npcs.txt

load_npcs.php

load_statistics.php
